*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-32px{
  height: 32px;
}

.w-32px{
  width: 32px;
}

.size-card{
  width: 100%;
  height: 100%;
}

.w-40{
  width: 40%;
}

.w-35{
  width: 35%;
}

.w-60{
  width: 60%;
}